{% extends "base.html" %}

{% block content %}

<section class="hero text-center py-5">
    <div class="container">
        <h1 class="display-4">Transformamos tu empresa con Automatización e Inteligencia Artificial</h1>
        <p class="lead">Soluciones innovadoras para optimizar el desempeño de tu empresa.</p>
        <a href="contacto" class="btn btn-hero">Contáctanos</a>
    </div>
</section>

<section class="services py-5">
    <div class="container">
        <h2 class="text-center mb-5">Algunos de Nuestros Servicios</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Automatización de Facturación</h3>
                        <p class="card-text">Simplificamos la facturación con transcripción automática de tus facturas a hojas de calculo.</p>
                        <a href="servicios" class="btn btn-card">Más información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Automatización de Informes</h3>
                        <p class="card-text">Optimizamos tus hojas de calculo para crear informes interactivos que se actualizan automáticamente sin alterar tu flujo de trabajo.</p>
                        <a href="servicios" class="btn btn-card">Más información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Chatbot con IA</h3>
                        <p class="card-text">Brinda una atención al cliente rápida y eficiente con inteligencia artificial.</p>
                        <a href="servicios" class="btn btn-card">Más información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Sobre Nosotros</h2>
                <p>Somos una empresa especializada en desarrollo y asesoramiento tecnológico, enfocada en ofrecer soluciones de automatización e inteligencia artificial para mejorar la eficiencia de tu negocio.</p>
                <a href="nosotros" class="btn btn-about">Conoce más</a>
            </div>
            <div class="col-md-6">
                <img src="../static/img/logo_letras.png" alt="Sobre Nosotros" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>


{% endblock %}